*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #191919;
}
header{
  background-color: #191919;
  background-size: cover;
  background-position: center;
}
::-webkit-scrollbar{width: 12px;}
::-webkit-scrollbar-button{background:transparent;height: 5px;}
::-webkit-scrollbar-thumb{border-radius: 6px; background:#313131;}


ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 130px;
  margin-right: 25px;
  grid-gap: 5px;
  justify-content: end;
  margin-top: 30px;
  animation: transitionIn 2.5s;
}
ul button{
  padding: 0px 10px;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}
ul button a{
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  padding: 5px 7px;
  transition: 0.2s ease;
  cursor: pointer;
}
ul button a:hover{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
ul button.active a{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}

.title{
  width: 100%;
  text-align: center;
  margin-top: 25px;
  animation: transitionIn 2.5s;
}
.title h1{
  color: #fff;
  text-align: left;
  padding-left: 10%;
  font-size: 50px;
}
.subtitle{
  width: 100%;
  text-align: center;
  font-weight: 500;
  margin-top: 5px;
  animation: transitionIn 2.5s;
}
.subtitle p{
  color: #57FFB3;
  font-size: 15px;
  text-align: left;
  padding-left: 10.5%;
}
.container{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button{
  transition: 0.2s;
  display: none;
  width: 25%;
  margin-left: 4%;
  float: left;
}
.btn{
  border-radius: 20px;
  border:2px solid transparent;
  padding: 15px 30px;
  font-size: 16px;
  color: black;
  text-decoration: none;
  text-align: center;
  background: #57FFB3;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
  transition: 0.3s ;
  animation: transitionIn 1.5s;
}
.btn:hover{
  color: black;
  background: white;

}
.button1{
  transition: 0.2s;
  display: none;
  width: 44%;
  margin-right: 5%;
  float: right;
}
.click{
  border-radius: 20px;
  border:2px solid transparent;
  padding: 15px 30px;
  font-size: 16px;
  color: black;
  text-align: center;
  text-decoration: none;
  background: #57FFB3;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
  transition: 0.3s ;
  animation: transitionIn 1.5s;
}
.click:hover{
  color: black;
  background: white;
}
.grid{
  margin-top: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin-bottom: 100px;
  align-items: center;
  color: #191919;
  animation: transitionIn 1.5s;
  width: 100%;
}
.grid1{
  display: grid;
  justify-content: center;
  grid-template-columns: 50% 11% 11% 28%;
  grid-gap: 5px;
  align-items: center;
  color: #191919;
  padding-top: 30px;
  width: 100%;
}



.grid > article{
  background: #191919;
  text-align: left;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0, 0.7);
  border-radius: 20px;
  width: 80%;
  height: 130px;
  transition: 0.5s ease;
  align-items: center;
}
.grid1 > .hel{
    width: 100%;
}
.grid1 > .hel1{
    width: 100%;
    text-align: right;
}
.grid1 > .hel2{
    width: 100%;
    text-align: right;
    padding-right: 20px;
}
.row{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.row:hover{
  background: black;
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px 2px rgba(87,255,179, 0.2);
  height: 210px;
  width: 82%;
}
.row:hover .button{
  display:grid;
}
.row:hover .button1{
  display:grid;
}

.text h3{
  font-size: 20px;
  font-weight: 600;
  color: #57FFB3;
  padding-left: 10%;
}
.text h4{
  font-size: 20px;
  font-weight: 600;
  color: #57FFB3;
  text-align: center;
}

.text .sub{
  font-weight: 500;
  font-size: 15px;
  color: #c4c4c4;
  padding-top: 10px;
  padding-left: 10%;
}
.text .sub1{
  font-weight: 500;
  font-size: 15px;
  color: #c4c4c4;
  padding-top: 10px;
  text-align: center;
}
.text .sub2{
  font-weight: 500;
  font-size: 15px;
  color: #c4c4c4;
  padding-top: 10px;
  text-align: center;
}





.popup_box img{
  width: 100px;
}

.popup_box{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 30px;
}

.popup_box{
  width: 550px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  align-items: center;
  padding-top: 50px;
  box-shadow: 0px 0px 10px 2px rgba(87,255,179, 0.2);
  display: none;
}

.popup_box h1{
  font-size: 20px;
  color: white;
  padding-top: 10px;
  margin-bottom: 5px;
}
.popup_box label{
  font-size: 15px;
  color: #c4c4c4;
}
.popup_box .btns{
  margin-top: 30px;
  margin-bottom: 25px;
}
.btns .btn1{
  background: #9AFFD1;
  color: black;
  font-weight: 700;
  font-size: 18px;
  border-radius: 40px;
  padding: 10px 50px;
  transition: 0.6s ease;
}

.btns .btn1:hover{
  transition: .5s;
  background: #57FFB3;
}


a{
  text-decoration: none;
}

@keyframes transitionIn {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
    transform: translateY(-1%);
  }
  to{
    opacity: 1;
    transform: rotateX(0);
    transform: translateY(0%);
  }
}

@keyframes transitionOut {
  from{
    opacity: 0;

    transform: translateY(1%);
  }
  to{
    opacity: 1;

    transform: translateY(0%);
  }
}
@media only screen and (max-device-width: 1050px)and (orientation: portrait){
  .title{
    margin-top: 50px;
  }
  ul{
    justify-content: center;
    margin-right: 0px;
  }
  .subtitle>p{
    font-size: 23px;
  }

}
