*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
header{
  background-color: #191919;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
ul{
  list-style-type: none;
  float: right;
  margin-top: 30px;
  margin-right: 25px;
  animation: transitionIn 2.5s;
}
ul button{
  display: inline-block;
  padding: 5px 10px;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}
ul button a{
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  padding: 5px 7px;
  transition: 0.2s ease;
  cursor: pointer;
}
ul button a:hover{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
ul button.active a{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}

.title{
  position: absolute;
  top: 10%;
  left: 40%;
  animation: transitionIn 2.5s;
}
.title h1{
  color: #fff;
  font-size: 60px;
}
.subtitle{
  position: absolute;
  top: 90%;
  left: 36.5%;
  font-weight: 500;
  animation: transitionIn 2.5s;
}
.subtitle p{
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 20px;
  opacity: 0.2;
}
.subtitle1{
  position: absolute;
  top: 19%;
  left: 42%;
  font-weight: 500;
  animation: transitionIn 2.5s;
}
.subtitle1 p{
  color: #d3d3d3;
  font-size: 15px;
}
.subtitle1 p:hover{
  color: #57FFB3;
}
.t2{
  position: absolute;
  top: 72%;
  left: 17%;
  font-weight: 500;
  text-align: center;
  animation: transitionIn 2.5s;
}
.t2 p1{
  color: #d3d3d3;
  font-size: 13px;
}
.t2 p2{
  color: #57FFB3;
  font-size: 13px;
}


img{
  width: 25%;
  border-radius: 20px;
  position: absolute;
  top:22%;
  left: 37%;
  transition: 0.4s ease;
}

img:hover{
  transform: translateY(3%);
}
@keyframes transitionIn {
  from{
    opacity: 0;
    transform: translateY(-5%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
  }
}
