*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
header{
  background-color: #191919;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
ul{
  list-style-type: none;
  float: right;
  margin-top: 30px;
  margin-right: 25px;
  animation: transitionIn 1.5s;
}
ul button{
  display: inline-block;
  padding: 5px 10px;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}
ul button a{
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  padding: 5px 7px;
  transition: 0.2s ease;
  cursor: pointer;
}
ul button a:hover{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
ul button.active a{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
.title{
  position: absolute;
  top: 18%;
  left: 28%;
  animation: transitionIn 2.5s;
  animation: heartbeat 2.5s ;
}
.title h1{
  color: #fff;
  font-size: 40px;
  opacity: 0.9;
}
.subtitle{
  position: absolute;
  top: 80%;
  left: 38%;
  font-weight: 500;
  animation: transitionIn 3.5s;
}
.subtitle p{
  color: #d3d3d3;
  font-size: 15px;
}
.subtitle p:hover{
  color: #57FFB3;
}

img{
  width: 25%;
  border-radius: 20px;
  position: absolute;
  top:28%;
  left: 37%;
  transition: 0.5s ease;
  animation: transitionIn 3.5s;
}



@keyframes transitionIn {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
    transform: translateY(-5%);
  }
  to{
    opacity: 1;
    transform: rotateX(0);
    transform: translateY(0%);
  }
}

@keyframes heartbeat {
  from{
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  to{
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes transitionOut {
  from{
    opacity: 0;

    transform: translateY(1%);
  }
  to{
    opacity: 1;

    transform: translateY(0%);
  }
}
