*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color: #191919;
}
header{
  background-color: #191919;
  background-size: cover;
  background-position: center;
}
ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 130px;
  margin-right: 25px;
  grid-gap: 5px;
  justify-content: end;
  margin-top: 30px;
  animation: transitionIn 2.5s;
}
ul button{
  padding: 0px 10px;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}
ul button a{
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  padding: 5px 7px;
  transition: 0.2s ease;
  cursor: pointer;
}
ul button a:hover{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
ul button.active a{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
.title{
  width: 100%;
  text-align: center;
  margin-top: 50px;
  animation: transitionIn 2.5s;
}
.title h1{
  color: #fff;
  text-align: center;
  font-size: 60px;
}
.subtitle{
  width: 100%;
  margin-bottom: 100px;
  text-align: center;
  font-weight: 500;
  animation: transitionIn 2.5s;
}
.subtitle p{
  color: #d3d3d3;
  font-size: 15px;
  text-align: center;
}
.subtitle p:hover{
  color: #57FFB3;
}
img{
  width: 25%;
  border-radius: 20px;
  display: block;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s ease;
  animation: transitionIn 3.5s;
}



@keyframes transitionIn {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
    transform: translateY(-5%);
  }
  to{
    opacity: 1;
    transform: rotateX(0);
    transform: translateY(0%);
  }
}

@keyframes heartbeat {
  from{
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  to{
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes transitionOut {
  from{
    opacity: 0;

    transform: translateY(1%);
  }
  to{
    opacity: 1;

    transform: translateY(0%);
  }
}

@media only screen and (max-device-width: 1560px)and (orientation: portrait){
  .title{
    margin-top: 100px;
  }
  img{
    width: 70%;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .subtitle p{
    font-size: 25px;
  }

}
