*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #191919;
}
header{
  background-color: #191919;s
  background-size: cover;
  background-position: center;
}
ul{
  list-style-type: none;
  float: right;
  margin-top: 30px;
  margin-right: 25px;
  animation: transitionIn 1.5s;
}
ul button{
  display: inline-block;
  padding: 5px 10px;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}
ul button a{
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  padding: 5px 7px;
  transition: 0.2s ease;
  cursor: pointer;
}
ul button a:hover{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
ul button.active a{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}
.grid{
  margin: 0px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
  align-items: center;
  color: #191919;
  animation: transitionIn 2.5s;
}
.hello{
  background: black;
  border: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  width: 600px;
  height: 520px;
  transition: 0.3s ease;
}


.box{
  position: relative;
  top: -8%;
  display: grid;
  justify-content: center;
  transition: 1s ease;
}

.doc{
  background: white;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .4);
  border-radius: 10px;
  width: 490px;
  height: 120px;
}
.hello:hover .box{
  transform: translateY(-90%);
}

.doc img{
  width: 20%;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  left: 12%;
}
.text{
text-align: center;
padding-left: 30px;
}
.text h3{
  font-size: 25px;
  padding-top: 36px;
}
.text p{
  font-weight: 600;
}
.smallbox{
  position: relative;
  top: 15%;
  justify-content: center;
  display: grid;
  grid-gap: 10px;
  transition: 0.3s ease;
}
.smallbox a{
  text-decoration: none;
  transition: 0.3s ease;
  color: black;
}

.row{
  background: white;
  border-radius: 10px;
  width: 400px;
  height: 40px;
  transition: 0.3s ease;
  text-align: center;
}
.row:hover{
  background: #57FFB3;
  text-align: center;
}
.row:hover a{
  color: black;
  text-align: center;
}

.text1{
  text-align: center;
}
.text1 .p1{
  font-weight: 700;
  padding-top: 10px;
}
.contactForm{
  display: grid;
  justify-content: center;
  align-items: center;
}

.contactForm .inputBox1{
  position: relative;
  transform: translateY(-650%);
  display: grid;
  justify-content: center;
}
.contactForm .inputBox textarea{
  width: 500px;
  height: 250px;
  padding-top: 30px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  font-weight: 700;
  background: #c4c4c4;
  border-radius: 10px;
  resize: none;
  outline: none;
}
.contactForm .inputBox1 input[type="submit"]{
  width:300px;
  background:white;
  color: #191919;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .4);
}
.contactForm .inputBox1 input[type="submit"]:hover{
  background:#57FFB3;
  transition: 0.4s ease;
}

@keyframes transitionIn {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
    transform: translateY(-5%);
  }
  to{
    opacity: 1;
    transform: rotateX(0);
    transform: translateY(0%);
  }
}

@keyframes transitionOut {
  from{
    opacity: 0;

    transform: translateY(1%);
  }
  to{
    opacity: 1;

    transform: translateY(0%);
  }
}




/*media querry for portrait laptop potrait*/
@media only screen and (max-device-width: 1560px) and (orientation: portrait){
.container{
    top: 65%;
    left: 50%;
  }
.grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 100px;
  grid-gap: 75px;
}
.hello{
  width: 700px;
  height: 690px;
}
.smallbox{
  top: 9%;
}
.doc{
  width:600px;
}
.doc img{
  width: 17%;
}
.contactForm .inputBox textarea{
  height: 440px;
  width: 600px;
}
.contactForm .inputBox1{
  position: relative;
  transform: translateY(-1125%);

}

}

/*media querry for portrait mode in ipad*/
@media only screen and (max-device-width: 850px)and (orientation: portrait){
  .container{
      top: 70%;
    }

}
/*media querry for portrait mode in mobiles*/
@media only screen and (max-device-width: 500px)and (orientation: portrait){
  .container{
      top: 50%;
    }
}

/*media querry for portrait mode in iphonex and long phones*/
@media only screen and (device-width: 375px) and (min-device-height: 700px){
  .container{
      top: 50%;
    }

}
/*media querry for portrait mode in small mobiles*/
@media only screen and (max-device-width: 370px)and (orientation: portrait){
  .container{
      top: 50%;
    }
}

/*media querry for portrait mode in small mobiles*/
@media only screen and (max-device-width: 300px)and (orientation: portrait){
  .container{
      top: 45%;
    }
  .subtitle{
    top: 11%;
  }
}







/*media querry for laptops of 15 inches and lower resolution*/
@media only screen and (max-device-width: 1400px) and (orientation:landscape){
  ul{
    padding-right: 13vh;
  }
      .grid{
      transform: scale(0.9);
      animation: transitionI 1.5s;
    }
    .subtitle{
      top:20%;
    }

    @keyframes transitionI {
      from{
        opacity: 0;
        transform: scale(0.7);
      }
      to{
        opacity: 1;
        transform: scale(0.9);
      }
    }

}


/*media querry for landscape mode in ipad*/
@media only screen and (max-device-width: 1113px) and (orientation:landscape){
  header{
    transform: scale(0.8);
    height: 100vh;
  }
  ul{
    margin-top: -0vh;
  }



}

/*media querry for landscape mode in iphone x and pixel xl*/
@media only screen and (max-device-width: 900px) and (orientation:landscape){

  .grid{
  transform: scale(0.7);
  animation: transitionI 1.5s;
}
ul{
  padding-right: 0vh;
  margin-top: -5vh;
}
@keyframes transitionI {
  from{
    opacity: 0;
    transform: scale(0.6);
  }
  to{
    opacity: 1;
    transform: scale(0.7);
  }
}
/*media querry for landscape mode in mobiles*/
@media only screen and (max-device-width: 800px) and (orientation:landscape){
  .grid{
  transform: scale(0.8);
  animation: transitionI 1.5s;
}
ul{
  padding-right: 0vh;
}
@keyframes transitionI {
  from{
    opacity: 0;
    transform: scale(0.7);
  }
  to{
    opacity: 1;
    transform: scale(0.8);
  }
}
}
