*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
header{
  background-color: #191919;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

ul{
  list-style-type: none;
  float: right;
  margin-top: 30px;
  margin-right: 25px;
  animation: transitionIn 1.5s;
}
ul button{
  display: inline-block;
  padding: 5px 10px;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}
ul button a{
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  padding: 5px 7px;
  transition: 0.2s ease;
  cursor: pointer;
}
ul button a:hover{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
ul button.active a{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
.title{
  position: absolute;
  top: 13%;
  left: 26%;
  animation: transitionIn 2.5s;

}
.title h1{
  color: #fff;
  font-size: 60px;
  opacity: 1;
}

.redText
{
    color: #57FFB3;
}
.greenText
{
    color: #57FFB3;
}
.subtitle{
  position: absolute;
  top: 80%;
  left: 26%;
  font-weight: 500;
  background: #191919;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0, 0);
  transition: 0.5s ease;
  animation: transitionIn 3.5s;
}
.subtitle p{
  color: #d3d3d3;
  font-size: 15px;
  text-align: center;
  padding: 15px;
}
.subtitle:hover{
  box-shadow: 0px 0px 10px 2px rgba(0,0,0, 0.9);
}
.subtitle1{
  position: absolute;
  top: 90%;
  left: 36.5%;
  font-weight: 500;

  animation: transitionIn 3.5s;
}
.subtitle1 p{
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 20px;
  opacity: 0.2;
}
.button{
  position: absolute;
  top: 25%;
  left: 32%;
  animation: transitionIn 1s;
  transition: transform 0.2s ease;
}
.btn{
  border-radius: 20px;
  width:600px;
  border:2px solid transparent;
  padding: 30px 90px;
  font-size: 25px;
  text-decoration: none;
  color: #57FFB3;
  background: #060606;
  margin: 10px;
  font-weight: bold;
  transition: 0.3s;
  animation: transitionIn 1s;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0, 0.9);
}
.btn:hover{
  color: #242424;
  background: #57FFB3;
  transform: scale(1.1);
}


.server{
  width: 23%;
  border-radius: 20px;
  position: absolute;
  top:40%;
  left: 39%;
  transition: 0.5s ease;
  animation: transitionIn 5s;
}







.popup_box .admi{
  width: 300px;
  border: 5px solid #57FFB3;
  border-radius: 20px;
}

.popup_box{
  position: -webkit-sticky;
  position: sticky;
  top: 12%;
  left:24%;
  border-radius: 30px;
}

.popup_box{
  width: 800px;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  align-items: center;
  padding-top: 50px;
  box-shadow: 0px 0px 10px 2px rgba(87,255,179, 0.2);
  display: none;
}

.popup_box .h1{
  font-size: 20px;
  color: white;
  padding-top: 30px;
  margin-bottom: 5px;
}
.popup_box .h2{
  font-size: 20px;
  color: white;
  padding-top: 10px;
  margin-bottom: 5px;
}
.popup_box label{
  font-size: 15px;
  color: #c4c4c4;
}
.popup_box .btns{
  margin-top: 30px;
  margin-bottom: 25px;
}
.btns .btn1{
  background: #9AFFD1;
  color: black;
  font-weight: 700;
  font-size: 18px;
  border-radius: 40px;
  padding: 10px 50px;
  transition: 0.6s ease;
}

.btns .btn1:hover{
  transition: .5s;
  background: #57FFB3;
}

a{
  text-decoration: none;
}

@keyframes transitionIn {
  from{
    opacity: 0;
    transform: translateY(-5%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes heartbeat {
  from{
    transform: scale(1, 1);
  }
  to{
    transform: scale(1.2, 1.2);
  }
}

@keyframes transitionOut {
  from{
    opacity: 0;

    transform: translateY(1%);
  }
  to{
    opacity: 1;

    transform: translateY(0%);
  }
}
