*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #191919;
}
header{
  background-color: #191919;
  background-size: cover;
  background-position: center;
  height: 220vh;
}
::-webkit-scrollbar{width: 12px; background: #191919}
::-webkit-scrollbar-thumb{border-radius: 6px; background: #57FFB3;box-shadow: 0px 15px 10px 2px rgba(0, 0, 0, 0.7)}

.scale{
  position: absolute;
  left: 94%;
  top: 55%;
  animation: transitionIn 2s;
}
ul{
  list-style-type: none;
  float: right;
  margin-top: 30px;
  margin-right: 25px;
  animation: transitionIn 1.5s;
}
ul button{
  display: inline-block;
  padding: 5px 10px;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}
ul button a{
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  padding: 5px 7px;
  transition: 0.2s ease;
  cursor: pointer;
}
ul button a:hover{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
ul button.active a{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
.title{
  position: absolute;
  width: 700px;
  top: 7%;
  left: 16%;
  animation: transitionIn 1.5s;
}
.title h1{
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}
.subtitle{
  position: absolute;
  top: 15.5%;
  left: 16.5%;
  animation: transitionIn 2.5s;
}
.subtitle p{
  color: #57FFB3;
  font-weight: 500;
  font-size: 15px;
}
.button{
  position: absolute;
  top: 55%;
  left: 3%;
  transition: 0.2s;
  display: none;
}
.btn{
  border-radius: 30px;
  border:2px solid transparent;
  padding: 15px 90px;
  font-size: 16px;
  color: black;
  text-decoration: none;
  background: #57FFB3;
  margin: 10px;
  font-weight: bold;
  transition: 0.3s ;
  animation: transitionIn 1.5s;
}
.btn:hover{
  color: black;
  background: white;

}
.button1{
  position: absolute;
  top: 55%;
  left: 53%;
  transition: 0.2s;
  display: none;
}
.click{
  border-radius: 30px;
  border:2px solid transparent;
  padding: 15px 170px;
  font-size: 16px;
  color: black;
  text-decoration: none;
  background: #57FFB3;
  margin: 10px;
  transition: 0.3s ;
  font-weight: bold;
  animation: transitionIn 1.5s;
}
.click:hover{
  color: black;
  background: white;
}
.grid{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  position: absolute;
  top: 20%;
  left: 15%;
  align-items: center;
  color: #191919;
  position: absolute;
  animation: transitionIn 1.5s;
}
.grid1{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  align-items: center;
  color: #191919;
  align-items: center;
  position: absolute;
  padding-top: 30px;

}
.grid1 > .hel{
    width: 590px;
}
.grid1 > .hel2{
    width: 190px;
}

.grid > article{
  background: #191919;
  text-align: left;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0, 0.7);
  border-radius: 20px;
  width: 1100px;
  height: 120px;
  transition: 0.5s ease;
  align-items: center;

}
.row:hover{
  background: black;
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px 2px rgba(87,255,179, 0.2);
  height: 210px;
}
.row:hover .button{
  display:grid;
}
.row:hover .button1{
  display:grid;
}

.text h3{
  font-size: 20px;
  font-weight: 600;
  padding-left: 50px;
  color: #57FFB3;
}
.text h4{
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
  color: #57FFB3;
}

.text .sub{
  font-weight: 500;
  font-size: 15px;
  color: #c4c4c4;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 10px;
}
.text .sub1{
  font-weight: 500;
  font-size: 15px;
  color: #c4c4c4;
  padding-top: 10px;
  padding-left: 13px;
  padding-right: 10px;
}





.popup_box img{
  width: 100px;
}

.popup_box{
  position: -webkit-sticky;
  position: sticky;
  top: 21%;
  left:15.3%;
  border-radius: 30px;
}

.popup_box{
  width: 1110px;
  height: 570px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  align-items: center;
  padding-top: 100px;
  box-shadow: 0px 0px 10px 2px rgba(87,255,179, 0.2);
  display: none;
}

.popup_box h1{
  font-size: 30px;
  color: white;
  padding-top: 10px;
  margin-bottom: 5px;
}
.popup_box label{
  font-size: 15px;
  color: #c4c4c4;
}
.popup_box .btns{
  margin-top: 30px;
  margin-bottom: 25px;
}
.btns .btn1{
  background: #9AFFD1;
  color: black;
  font-weight: 700;
  font-size: 18px;
  border-radius: 40px;
  padding: 10px 50px;
  transition: 0.6s ease;
}

.btns .btn1:hover{
  transition: .5s;
  background: #57FFB3;
}


a{
  text-decoration: none;
}

@keyframes transitionIn {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
    transform: translateY(-1%);
  }
  to{
    opacity: 1;
    transform: rotateX(0);
    transform: translateY(0%);
  }
}

@keyframes transitionOut {
  from{
    opacity: 0;

    transform: translateY(1%);
  }
  to{
    opacity: 1;

    transform: translateY(0%);
  }
}
