*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #191919;
}
header{
  background-color: #191919;
  background-size: cover;
  background-position: center;
}
::-webkit-scrollbar{width: 12px; background: #191919}
::-webkit-scrollbar-thumb{border-radius: 6px; background: #57FFB3;box-shadow: 0px 15px 10px 2px rgba(0, 0, 0, 0.7)}


ul{
  list-style-type: none;
  float: right;
  margin-top: 30px;
  margin-right: 25px;
  animation: transitionIn 1.5s;
}
ul button{
  display: inline-block;
  padding: 5px 10px;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}
ul button a{
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  padding: 5px 7px;
  transition: 0.2s ease;
  cursor: pointer;
}
ul button a:hover{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
ul button.active a{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
.title{
  position: absolute;
  width: 700px;
  top: 7%;
  left: 16%;
  animation: transitionIn 1.5s;
}
.title h1{
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}
.subtitle{
  position: absolute;
  top: 15.5%;
  left: 16.5%;
  animation: transitionIn 2.5s;
}
.subtitle p{
  color: #57FFB3;
  font-weight: 500;
  font-size: 15px;
}
.button{
  position: absolute;
  top: 55%;
  left: 3%;
  transition: 0.2s;
  display: none;
}
.btn{
  border-radius: 30px;
  border:2px solid transparent;
  padding: 15px 90px;
  font-size: 16px;
  color: black;
  text-decoration: none;
  background: #57FFB3;
  margin: 10px;
  font-weight: bold;
  transition: 0.3s ;
  animation: transitionIn 1.5s;
}
.btn:hover{
  color: black;
  background: white;

}
.button1{
  position: absolute;
  top: 55%;
  left: 53%;
  transition: 0.2s;
  display: none;
}
.click{
  border-radius: 30px;
  border:2px solid transparent;
  padding: 15px 170px;
  font-size: 16px;
  color: black;
  text-decoration: none;
  background: #57FFB3;
  margin: 10px;
  transition: 0.3s ;
  font-weight: bold;
  animation: transitionIn 1.5s;
}
.click:hover{
  color: black;
  background: white;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -12%);
}
.grid{
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin-bottom: 100px;
  align-items: center;
  color: #191919;
  animation: transitionIn 1.5s;
}
.grid1{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  align-items: center;
  color: #191919;
  align-items: center;
  padding-top: 30px;

}
.grid1 > .hel{
    width: 590px;
}
.grid1 > .hel2{
    width: 190px;
}

.grid > article{
  background: #191919;
  text-align: left;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0, 0.7);
  border-radius: 20px;
  width: 1100px;
  height: 120px;
  transition: 0.5s ease;
  align-items: center;

}
.row:hover{
  background: black;
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px 2px rgba(87,255,179, 0.2);
  height: 210px;
}
.row:hover .button{
  display:grid;
}
.row:hover .button1{
  display:grid;
}

.text h3{
  font-size: 20px;
  font-weight: 600;
  padding-left: 50px;
  color: #57FFB3;
}
.text h4{
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
  color: #57FFB3;
}

.text .sub{
  font-weight: 500;
  font-size: 15px;
  color: #c4c4c4;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 10px;
}
.text .sub1{
  font-weight: 500;
  font-size: 15px;
  color: #c4c4c4;
  padding-top: 10px;
  padding-left: 13px;
  padding-right: 10px;
}





.popup_box img{
  width: 100px;
}

.popup_box{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 30px;
}

.popup_box{
  width: 550px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  align-items: center;
  padding-top: 50px;
  box-shadow: 0px 0px 10px 2px rgba(87,255,179, 0.2);
  display: none;
}

.popup_box h1{
  font-size: 30px;
  color: white;
  padding-top: 10px;
  margin-bottom: 5px;
}
.popup_box label{
  font-size: 15px;
  color: #c4c4c4;
}
.popup_box .btns{
  margin-top: 30px;
  margin-bottom: 25px;
}
.btns .btn1{
  background: #9AFFD1;
  color: black;
  font-weight: 700;
  font-size: 18px;
  border-radius: 40px;
  padding: 10px 50px;
  transition: 0.6s ease;
}

.btns .btn1:hover{
  transition: .5s;
  background: #57FFB3;
}


a{
  text-decoration: none;
}

@keyframes transitionIn {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
    transform: translateY(-1%);
  }
  to{
    opacity: 1;
    transform: rotateX(0);
    transform: translateY(0%);
  }
}

@keyframes transitionOut {
  from{
    opacity: 0;

    transform: translateY(1%);
  }
  to{
    opacity: 1;

    transform: translateY(0%);
  }
}



/*media querry for portrait mode universal*/
@media only screen and (max-device-width: 1560px) and (orientation: portrait){
.container{
    transform: translate(-50%, -24%);
}
.grid{
  grid-gap: 40px;
}
.grid > article{
  width: 800px;
  height: 140px;
  transform: scale(0.9);
}
.grid1 > .hel{
    width: 410px;
}
.button1{
  left: 51%;
}
.click{
  padding: 15px 105px;
}
.title{
  top: 7%;
}

  .subtitle{
    top: 12%;
  }


}

@media only screen and (max-device-width: 1025px)and (orientation: portrait){
  .container{
      transform: translate(-50%, -23%);
  }
  .title{
    left:13%;
  }
  .subtitle{
    left:13%;
  }


}

@media only screen and (max-device-width: 900px)and (orientation: portrait){
  .container{
      transform: translate(-50%, -28%);
  }

  .title{
    left:13%;
  }
  .subtitle{
    left:13%;
  }

}

/*media querry for portrait mode in ipad*/
@media only screen and (max-device-width: 850px)and (orientation: portrait){
  .container{
      transform: translate(-50%, -21%);
  }

  .title{
    left:13%;
  }
  .subtitle{
    left:13%;
  }

}
/*media querry for portrait mode in mobiles*/
@media only screen and (max-device-width: 500px)and (orientation: portrait){
  .container{
    transform: translate(-50%, -30%);
  }
  .grid > article{
    transform: scale(1);
  }


}

/*media querry for portrait mode in iphonex and long phones*/
@media only screen and (device-width: 375px) and (min-device-height: 700px){
  .container{
    transform: translate(-50%, -36%);
  }

}
/*media querry for portrait mode in mobiles*/
@media only screen and (max-device-width: 370px)and (orientation: portrait){
  .container{
    transform: translate(-50%, -30%);
  }

}

/*media querry for portrait mode in small mobiles*/
@media only screen and (max-device-width: 300px)and (orientation: portrait){
  .container{
      transform: translate(-50%, -40%);
  }
  .subtitle{
    top: 11%;
  }


}





/*media querry for laptops of 15 inches and lower resolution*/
@media only screen and (max-device-width: 1400px) and (orientation:landscape){

  .container{
      transform: translate(-50%, -15%);
  }
    .grid{
      transform: scale(0.82);
      animation: transitionI 1.5s;
    }
    .subtitle{
      top:20%;
    }

    @keyframes transitionI {
      from{
        opacity: 0;
        transform: scale(0.7);
      }
      to{
        opacity: 1;
        transform: scale(0.82);
      }
    }

}


/*media querry for landscape mode in ipad*/
@media only screen and (max-device-width: 1113px) and (orientation:landscape){
  header{
    transform: scale(0.5);
    height: 160vh;
  }
  ul{
    margin-top: -70vh;
  }
  .container{
      transform: translate(-50%, -60%);
  }



  .title{
    top: -35%;
  }

    .subtitle{
      top: -28%;
    }


}

/*media querry for landscape mode in iphone x and pixel xl*/
@media only screen and (max-device-width: 900px) and (orientation:landscape){


  .container{
      transform: translate(-42%, -35%);
  }
    .title{
      left: 20%;
    }

    .subtitle{
      top: -25%;
      left: 20%;
    }


}
/*media querry for landscape mode in mobiles*/
@media only screen and (max-device-width: 800px) and (orientation:landscape){

  .container{
      transform: translate(-42%, -40%);
  }

}

/*media querry for landscape mode in surface duo*/
@media only screen and (max-device-width: 721px) and (orientation:landscape){

  .container{
      transform: translate(-42%, -55%);
  }

}

@media only screen and (max-device-width: 700px) and (orientation:landscape){

  .container{
      transform: translate(-42%, -42%);
  }

}
/*media querry for landscape mode in galaxy fold*/
@media only screen and (max-device-width: 655px) and (orientation:landscape){

  .container{
      transform: translate(-42%, -35%);
  }

}

@media only screen and (max-device-width: 650px) and (orientation:landscape){

  .container{
      transform: translate(-42%, -40%);
  }

}
