*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background-color: #000;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
 img{
  width: 600px;
  height: 700px;

}
.joke{
  position: absolute;
  left:55%;
}
.joke1{
  position: absolute;
  left:10%;
}
