*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
header{
  background-color: #191919;s
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.scale{
  position: absolute;
  left: 94%;
  top: 55%;
  animation: transitionIn 2s;
}
ul{
  list-style-type: none;
  float: right;
  margin-top: 30px;
  margin-right: 25px;
  animation: transitionIn 1.5s;
}
ul button{
  display: inline-block;
  padding: 5px 10px;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}
ul button a{
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  padding: 5px 7px;
  transition: 0.2s ease;
  cursor: pointer;
}
ul button a:hover{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
ul button.active a{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
.title{
  position: absolute;
  width: 500px;
  top: 39%;
  left: 7%;
  animation: transitionIn 1.5s;
}
.title h1{
  color: #fff;
  font-size: 75px;
  font-weight: 700;
}
.subtitle{
  position: absolute;
  top: 35%;
  left: 7.8%;
  animation: transitionIn 2.5s;
}
.subtitle h1{
  color: #fff;
  font-size: 15px;
  transition: 0.5s ease;
}
.subtitle h1:hover{
  color: #57FFB3;
  font-size: 15px;
}

.subtitle2{
  position: absolute;
  top: 36%;
  left: 91.8%;
  animation: transitionIn 2.5s;
}
.subtitle2 h1{
  color: #BBBABA;
  font-size: 11px;
}
.subtitle3{
  position: absolute;
  top: 38%;
  left: 86.5%;
  text-align: right;
  animation: transitionIn 2.5s;
}
.subtitle3 h1{
  color: #BBBABA;
  font-size: 15px;
}

.button{
  position: absolute;
  top: 69%;
  left: 6%;
  animation: transitionIn 1.5s;
}
.btn{
  border-radius: 20px;
  border:2px solid transparent;
  padding: 15px 70px;
  font-size: 16px;
  color: #242424;
  text-decoration: none;
  background: #57FFB3;
  margin: 10px;
  font-weight: bold;
  transition: 0.3s;
  animation: transitionIn 2.5s;
}
.btn:hover{
  color: #57FFB3;
  background: #060606;

}
.button1{
  position: absolute;
  top: 69%;
  left: 25%;
  animation: transitionIn 1.5s;
}
.btn1{
  border-radius: 20px;
  border:2px solid transparent;
  padding: 15px 70px;
  font-size: 16px;
  color: #242424;
  text-decoration: none;
  background: #57FFB3;
  margin: 10px;
  transition: 0.3s ;
  font-weight: bold;
  animation: transitionIn 2.5s;
}
.btn1:hover{
  color: #57FFB3;
  background: #060606;
}
.grid{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  position: absolute;
  top: 14%;
  left: 8.4%;
  align-items: center;
  color: #191919;
  position: absolute;
  animation: transitionIn 2.5s;
}
.grid > article{
  background: #191919;
  text-align: left;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  width: 600px;
  height: 100px;
  transition: 0.3s ease;
  align-items: center;
  text-align: center;
}
article:hover{
  background: black;
  transform: translateY(-10px);
}
a{
  text-decoration: none;
}

.text h3{
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
  color: #57FFB3;
}

.text .sub{
  font-weight: 500;
  font-size: 15px;
  color: #c4c4c4;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@keyframes transitionIn {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
    transform: translateY(-5%);
  }
  to{
    opacity: 1;
    transform: rotateX(0);
    transform: translateY(0%);
  }
}

@keyframes transitionOut {
  from{
    opacity: 0;

    transform: translateY(1%);
  }
  to{
    opacity: 1;

    transform: translateY(0%);
  }
}
