*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #191919;
}
header{
  background-color: #191919;s
  background-size: cover;
  background-position: center;
}
ul{
  list-style-type: none;
  float: right;
  margin-top: 30px;
  margin-right: 25px;
  animation: transitionIn 1.5s;
}
ul button{
  display: inline-block;
  padding: 5px 10px;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}
ul button a{
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  padding: 5px 7px;
  transition: 0.2s ease;
  cursor: pointer;
}
ul button a:hover{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
ul button.active a{
  color: #57FFB3;
  position: relative;
  border-bottom: 4px solid #57FFB3;
}
.title{
  position: absolute;
  width: 500px;
  top: 39%;
  left: 7%;
  animation: transitionIn 1.5s;
}
.title h1{
  color: #fff;
  font-size: 75px;
  font-weight: 700;
}
.subtitle{
  position: absolute;
  top: 35%;
  left: 7.8%;
  animation: transitionIn 2.5s;
}
.subtitle h1{
  color: #fff;
  font-size: 15px;
  transition: 0.5s ease;
}
.subtitle h1:hover{
  color: #57FFB3;
  font-size: 15px;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}
.grid{
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  align-items: center;
  color: #191919;
  animation: transitionIn 2.5s;
}
.grid > article{
  background: #191919;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  width: 600px;
  height: 100px;
  transition: 0.3s ease;
  align-items: center;
  text-align: center;
}
article:hover{
  background: black;
  transform: translateY(-10px);
}
a{
  text-decoration: none;
}

.text h3{
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
  color: #57FFB3;
}

.text .sub{
  font-weight: 500;
  font-size: 15px;
  color: #c4c4c4;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@keyframes transitionIn {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
    transform: translateY(-5%);
  }
  to{
    opacity: 1;
    transform: rotateX(0);
    transform: translateY(0%);
  }
}

@keyframes transitionOut {
  from{
    opacity: 0;

    transform: translateY(1%);
  }
  to{
    opacity: 1;

    transform: translateY(0%);
  }
}


/*media querry for portrait laptop potrait*/
@media only screen and (max-device-width: 1560px) and (orientation: portrait){
.container{
  transform: translate(-50%, -50%);
}
.grid{
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 100px;
  grid-gap: 40px;
}

}

@media only screen and (max-device-width: 1025px)and (orientation: portrait){
  .container{
      transform: translate(-50%, -45%);
  }


@media only screen and (max-device-width: 900px)and (orientation: portrait){
  .container{
      transform: translate(-50%, -50%);
  }

}

/*media querry for portrait mode in ipad*/
@media only screen and (max-device-width: 850px)and (orientation: portrait){
  .container{
      transform: translate(-50%, -45%);
  }

}
/*media querry for portrait mode in mobiles*/
@media only screen and (max-device-width: 500px)and (orientation: portrait){
  .container{
    transform: translate(-50%, -50%);
  }
}

/*media querry for portrait mode in iphonex and long phones*/
@media only screen and (device-width: 375px) and (min-device-height: 700px){
  .container{
    transform: translate(-50%, -50%);
  }

}
/*media querry for portrait mode in small mobiles*/
@media only screen and (max-device-width: 370px)and (orientation: portrait){
  .container{
    transform: translate(-50%, -50%);
  }
}

/*media querry for portrait mode in small mobiles*/
@media only screen and (max-device-width: 300px)and (orientation: portrait){
  .container{
      transform: translate(-50%, -50%);
  }
  }
}







/*media querry for laptops of 15 inches and lower resolution*/
@media only screen and (max-device-width: 1400px) and (orientation:landscape){

    .grid{
      transform: scale(0.8);
      animation: transitionI 0.5s;
      grid-gap: 30px;
    }

    @keyframes transitionI {
      from{
        opacity: 0;
        transform: scale(0.7);
      }
      to{
        opacity: 1;
        transform: scale(0.8);
      }
    }

}


/*media querry for landscape mode in ipad*/
@media only screen and (max-device-width: 1113px) and (orientation:landscape){

  .container{
      transform: translate(-40%, -60%);
  }

}

/*media querry for landscape mode in iphone x and pixel xl*/
@media only screen and (max-device-width: 900px) and (orientation:landscape){
    .container{
      transform: translate(-42%, -35%);
    }

/*media querry for landscape mode in mobiles*/
@media only screen and (max-device-width: 800px) and (orientation:landscape){
  .container{
      transform: translate(-42%, -40%);
  }
}
